build --cxxopt="-std=c++17"
build --cxxopt="-Wall"

# build with debug mode
build --compilation_mode=dbg

# change to the specific work directory
run --run_under="cd /home/xiaochen/code/small-db-v2 &&"