# ============================================================================ #
# bazel
# ============================================================================ #

# The lock file stores exact versions of dependencies to ensure consistent builds.
# See:
# - https://bazel.build/external/lockfile
MODULE.bazel.lock

# These directories contain the output of Bazel builds.
bazel-*